{% extends "Templates/admin.twig" %}

{% block content %}
    <div class="jumbotron">
        {% if flash().get('errors') is array %}
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Ошибка!</h4>
                <ul>
                    {% for message in flash.get('errors') %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <h1 class="display-4">Создание Поста</h1>
        <form action="/admin/posts/store" method="post">
            <div class="form-group">
                <label for="title">Заголовок</label>
                <input type="text" class="form-control" id="title" name="PostCreateForm[title]">
            </div>
            <div class="form-group">
                <label for="preview">Краткое описание</label>
                <textarea class="form-control" id="preview" rows="3" name="PostCreateForm[preview]"></textarea>
            </div>
            <div class="form-group">
                <label for="preview">Полное описание</label>
                <textarea class="form-control" id="preview" rows="8" name="PostCreateForm[content]"></textarea>
            </div>
            <small class="form-text text-muted">
                Для того чтобы загрузить Фотографии необходимо сначало сохранить запись.
            </small>

            <p class="lead mt-3">
                <input type="submit" class="btn btn-primary btn-lg" value="Сохранить"/>
            </p>
        </form>
    </div>
{% endblock %}
